<!doctype html>
<html>
<head>
  <title>Welcome</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  
  <script src="../../bower_components/platform/platform.js"></script>
  
  <link rel="import" href="../font-tisa/font-tisa.html">
  <link rel="import" href="dom-welcome.html">
  
  <style shim-shadowdom>
  
    body {
      font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", serif;
      padding: 20px;
      -webkit-tap-highlight-color: #2baf2b;
    }
    ::selection, ::-moz-selection {
    background: #12c700;
    	color: #fff;
    }
    
  </style>
  
</head>
<body unresolved>
  
  
    <dom-welcome></dom-welcome>
    
</body>
</html>
